_misc/
Martin Borgo/Tarea 3/AWS/WIN2012/access.tf
Martin Borgo/Tarea 3/AWS/WIN2016/access.tf
Martin Borgo/Tarea 3/AWS/WIN2019/access.tf
Martin Borgo/Tarea 3/WIN2019/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
Martin Borgo/Tarea 3/WIN2012/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
